<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>RISC OS Open: Bugs and sources: <%= @title %></title>

    <meta name="robots" content="nofollow" />
    <meta name="generator" content="FreeBSD-CVSweb 3.0.6" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

    <link type="text/css" rel="stylesheet" href="/css/risc_os_open_2011.css" media="all" />
    <%= stylesheet_link_tag '/stylesheets/rcvsweb.css' %>
  </head>
  <body>
<%= render 'shared/fixed_header' %>

    <div id="template_main">

      <!-- Main body content -->

      <div id="template_body">
        <div id="template_body_content">
          <%= apphelp_flash() -%>

          <div id="content">
            <%= yield :you_are_currently_browsing %><br />
            The Subversion repository is <a href="/tracker/repository/browse">here</a>.
            <hr />

<%= yield %>
          </div>
        </div>
      </div>

      <!-- Sidebar -->

      <div id="template_sidebar">
        <div id="template_sidebar_content">
            <div class="template_sidebar_node">
              <h3>Search whole site</h3>

              <p />
              <form action="https://www.google.com/search" method="get" class="searchform">
                <input type="hidden" name="num"           value="10" />
                <input type="hidden" name="hl"            value="en" />
                <input type="hidden" name="as_sitesearch" value="www.riscosopen.org" />
                <input type="text" value="" maxlength="256" size="15" name="q" id="q" />
                <b><input type="submit" value="Go" name="btnG" /></b>
              </form>
            </div>

          <p />
<%= render 'shared/fixed_sidebar' %>

          <p />
          <div class="template_sidebar_node">

            <h3>Options</h3>

            <p />
            <ul>
              <li><a href="/tracker">Tickets</a></li>
              <li><a href="/tracker/milestones">Milestones</a></li>
              <li>Subversion: <a href="/tracker/repository/changesets">Changesets</a></li>
              <li>Subversion: <a href="/tracker/repository/browse">Browse</a></li>
              <li>CVS: <%= link_to 'Revisions', { :controller => 'revisions', :action => 'list' } %></li>
              <li>CVS: <%= link_to 'Browse', { :controller => 'rcvsweb', :action => 'run' } %></li>
            </ul>
          </div>
        </div>
      </div>

      <div id="template_main_block_end"></div>
    </div>

<%= render 'shared/fixed_footer' %>
  </body>
</html>
